@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.wp-ext-news {
		.news-grid {
			display: flex;
			flex-wrap: wrap;
			.news {
				width: 50%;
				padding: 1rem;
			}
		}
		.news-cover {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}